## Data Preparation Basics
## Part 3 - Removing duplicates

In [5]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Removing duplicates

In [6]:
# Create a DataFrame object
DF_obj= DataFrame({'column 1':[1,1,2,2,3,3,3],
                   'column 2':['a', 'a','b', 'b', 'c', 'c', 'c'],
                   'column 3':['A', 'A', 'B', 'B', 'C', 'C', 'C']})
DF_obj

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

In [7]:
# Check duplicates in rows
# Run the following and discuss the output
DF_obj.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

In [ ]:
# Drop duplicates
DF_obj.drop_duplicates()

In [8]:
DF_obj= DataFrame({'column 1':[1,1,2,2,3,3,3],
                   'column 2':['a', 'a','b', 'b', 'c', 'c', 'c'],
                   'column 3':['A', 'A', 'B', 'B', 'C', 'D', 'C']})
DF_obj

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        D
6         3        c        C

In [9]:
# Drop duplicates in certain columns
DF_obj.drop_duplicates(['column 3'])

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C
5         3        c        D

Task 1: Create a pandas DataFrame named orders_df with the following data:

![image.png]()

In [10]:
import pandas as pd
import numpy

data  = {
    "OrderID": [101, 102, 103, 104, 105],
    "CustomerID": ["A100", "A101", "A100", "A102", "A103"],
    "Product": ["Laptop", "Smartphone", "Laptop", "Tablet", "Smartphone"]
}

orders_df = pd.DataFrame(data)
orders_df

   OrderID CustomerID     Product
0      101       A100      Laptop
1      102       A101  Smartphone
2      103       A100      Laptop
3      104       A102      Tablet
4      105       A103  Smartphone

Task 2:

*   Check for duplicate orders based on the combination of 'OrderID' and 'CustomerID' columns and print the result.
*   Drop the duplicate orders.

In [ ]:
dupe = orders_df[orders_df.duplicated(['CustomerID', 'OrderID'])]
dupe

ValueError: keep must be either "first", "last" or False